<!-- Toolbar -->
<header class="toolbar">
  <h2 class="logo" >Nicholas Coorevits</h2>
  <nav class="navbar-expand-md">
    <ul class="nav_links">
      <li ><a routerLink="/introduction" routerLinkActive="active">Introductie</a></li>

      <li ><a routerLink="/about" routerLinkActive="active">Over mij</a></li>

      <li ><a routerLink="/internship" routerLinkActive="active">Stage</a></li>

      <li ><a routerLink="/project" routerLinkActive="active">Projecten</a></li>
    </ul>
  </nav>
</header>
