<!-- main -->
<div class="content bgc" role="main">

  <h2>About Me</h2>
  <div class="row">
    <img id="about_image" class="" src="assets/nc-foto.jpg" alt="Nicholas Coorevits" title="Dit ben ik :)">
    <ul id="about_list" class="col-6">
      <br>
      <li><i class="far fa-calendar-alt"></i> 09/08/2001</li>
      <br>
      <li><i class="far fa-envelope"></i><a href="mailto:nicholascoorevits1@hotmail.com"> nicholascoorevits1@hotmail.com</a></li>
      <br>
      <li><i class="fas fa-home"></i> Acacialaan 14, Zichem 3271</li>
      <br>
      <li><i class="fas fa-school"></i> Thomas More Kempen</li>
      <br>
      <li><i class="fas fa-book"></i> 2 Application development en AI</li>
    </ul>
  </div>





  <h2>Why IT?</h2>
  <p><span>Voor ik naar Thomas More kwam, deed ik elektromechanica aan de UCLL.
    Dit bleek niets voor mij te zijn en ik ging op zoek naar een andere richting
    die ik wel kon doen. Aangezien ik vaak met computers werk en een paar programmeurs
    ken, koos ik voor toegepaste informatica.
  </span>
  </p>
  <h2>Hobby's</h2>
  <p><span>Buiten programmeren en gamen, kook ik vaak genoeg om dit een hobby te noemen.</span>
  </p>
  <h2>Future & ambitions</h2>
  <p><span>In de toekomst hoop ik een baan te krijgen als fullstack webontwikkelaar. Dus ik wil ook veel meer talen leren
  Daarom heb ik besloten om mijn portfolio te maken in Angular en typescript.</span>
  </p>
  <h2>CV</h2>
  <span>Download mijn CV</span>
  <p><a class="blue" href="/assets/CV-NicholasCoorevits.pdf" download rel="noopener noreferrer" target="_blank">
    CV Nicholas Coorevits
  </a>
  </p>

</div>
