<!-- main -->
<div class="content bgc" role="main">
  <h2>Over mij</h2>
  <div class="row">
    <img
      id="about_image"
      class=""
      src="assets/nc-foto.jpg"
      alt="Nicholas Coorevits"
      title="Dit ben ik"
    />
    <ul id="about_list" class="col-6">
      <br />
      <li><i class="far fa-calendar-alt"></i> 09/08/2001</li>
      <br />
      <li>
        <i class="far fa-envelope"></i
        ><a href="mailto:nicholascoorevits1@hotmail.com">
          nicholascoorevits1@hotmail.com</a
        >
      </li>
      <br />
      <li><i class="fas fa-home"></i> Acacialaan 14, Zichem 3271</li>
      <br />
      <li><i class="fas fa-school"></i> Thomas More Kempen</li>
      <br />
      <li><i class="fas fa-book"></i> 3 Application development</li>
    </ul>
  </div>

  <h2>Waarom IT?</h2>
  <p>
    <span
      >Voor ik naar Thomas More kwam, volgde ik elektromechanica aan de UCLL in
      Diepenbeek. Dit bleek niets voor mij te zijn om verschillende redenen
      waaronder dat ik te laks was met studeren en ik vond het na de middelbare
      school niet echt interessant meer. Hierna ben ik op zoek gegaan naar een
      andere richting die ik kon doen, iets dat me echt interesseerde. Omdat ik
      vaak met computers werk en een paar programmeurs ken, heb ik voor
      toegepaste informatica gekozen wat een juiste keuze bleek te zijn.
    </span>
  </p>
  <!-- <h2>Soft skills</h2>
  <p>
    <span>
      <ul>
        <li>leergierig</li>
        <li>betrouwbaar</li>
        <li>team player</li>
        <li>doorzetter</li>
        <li>loyaal</li>
      </ul>
    </span>
  </p> -->

  <h2>Hobby's</h2>
  <p>
    <span
      >Buiten programmeren en video spellen, kook ik vaak genoeg om dit een
      hobby te noemen. Soms ga ik ook wel eens uit met vrienden naar de cinema,
      op mezelf kijk ik niet naar films dus ik kan ze ook nooit gezien hebben
      voor we een film gaan zien. We gaan ook al eens karten, dit heeft niet
      altijd een vaste plaats maar meestal is het wel in de buurten van Limburg
      of Vlaams-Brabant.</span>
  </p>
  <h2>Toekomst & ambities</h2>
  <p>
    <span
      >In de toekomst hoop ik een baan te krijgen als full-stack
      webontwikkelaar. Ik kies hiervoor omdat ik niet enkel een front-end
      ontwikkelaar wil worden, dit geeft meer variatie aan werken en dit past
      mij meer.
    </span>
  </p>
  <h2>CV</h2>
  <span>Download mijn CV</span>
  <p>
    <a
      class="blue"
      href="/assets/CV-NicholasCoorevits.pdf"
      download
      rel="noopener noreferrer"
      target="_blank"
    >
      CV Nicholas Coorevits
    </a>
  </p>
</div>
