<!-- Toolbar -->
<header class="toolbar" role="banner">
  <h2 class="logo">Nicholas Coorevits</h2>
  <nav>
    <ul class="nav_links">
      <li ><a routerLink="/introduction" >Introduction</a></li>
      <li ><a routerLink="/about" class="active">About</a></li>
      <li ><a routerLink="/project">Projects</a></li>
    </ul>
  </nav>
</header>

<!-- main -->
<div class="content bgc" role="main">

  <h2>About Me</h2>
  <div class="row">
    <img id="about_image" class="col-6" src="assets/nc-foto.jpg" alt="Nicholas Coorevits" title="Dit ben ik :)">
    <ul id="about_list" class="col-6">
      <br>
      <li><i class="far fa-calendar-alt"></i> 09/08/2001</li>
      <br>
      <li><i class="far fa-envelope"></i><a href="mailto:nicholascoorevits1@hotmail.com"> nicholascoorevits1@hotmail.com</a></li>
      <br>
      <li><i class="fas fa-home"></i> Acacialaan 14, Zichem 3271</li>
      <br>
      <li><i class="fas fa-school"></i> Thomas More Kempen</li>
      <br>
      <li><i class="fas fa-book"></i> 2 Application development en AI</li>
    </ul>
  </div>





  <h2>Why IT?</h2>
  <p><span>Voor ik naar Thomas More ben gekomen, deed ik Elektro-Mechanica te UCLL. Dit bleek dan niets voor mij en dan ben ik opzoek
  gegaan naar een andere richting dat ik kon doen. Sinds ik vaak bezig ben met de computer en een paar programmeurs ken heb ik voor
  toegepaste informatica gekozen.</span>
  </p>
  <h2>Hobby's</h2>
  <p><span>Buiten programmeren en gamen, kook ik vaak genoeg om dit een hobby te noemen.</span>
  </p>
  <h2>Future & ambitions</h2>
  <p><span>In de toekomst hoop ik een job te hebben als een fullstack web developer. Ik wil dus ook een pak meer talen leren
  daarom heb ik besloten om mijn protfolio in Angular en typescript te maken.</span>
  </p>
  <h2>CV</h2>
  <span>Download mijn CV</span>
  <p><a class="blue" href="/assets/CV-NicholasCoorevits.pdf" download rel="noopener noreferrer" target="_blank">
    CV Nicholas Coorevits
  </a>
  </p>

</div>
