<!-- main -->
<div class="content" role="main">
  <h2>Introductie</h2>
  <div class="txt">
    <p>
      Welkom bij mijn portfolio. Ik ben Nicholas Coorevits. Een 21-jarige
      student aan Thomas More Kempen. Ik studeer Applicatieontwikkeling, wat een
      keuzevak is van toegepaste Informatica. Het portfolio is opgedeeld in 4
      delen:
    </p>
    <ul>
      <li>de introductie waar ik je probeer weg wijs te maken in het portfolio.</li>
      <li>een pagina waar ik je meer uitleg over mezelf geef zodat je weet wie ik ben en wat ik doe.</li>
      <li>een pagina toegewezen aan mijn stage waar ik alles in detail probeer uit te leggen en je extra documenten mee geef voor het volledige plaatje te begrijpen.</li>
      <li>een pagina waar ik een aantal projecten uitleg die ik tijdens mijn school carrière heb ontwikkeld.</li>
    </ul>
    <p>
      Bij extra vragen kun je me altijd vinden met de linken naar mijn sociale media onderaan!
    </p>
  </div>
</div>
