<!-- main -->
<div class="content" role="main">

  <h2>Introduction</h2>
  <div class="txt">
    <p>
      Welkom in mijn portfolio. Ik ben Nicholas Coorevits. Een 20 jarige
      student aan Thomas More Kempen. Ik studeer momenteel Applicatieontwikkeling en AI,
      wat een keuzevak is van toegepaste Informatica. Om mezelf uit te dagen, heb ik
      besloten om mijn portfolio op te bouwen met talen die ik nog nooit gebruikt heb. Dit is waar ik denk het meeste uit te leren.
    </p>
  </div>


  <!-- Terminal -->
  <!-- <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>ng generate component xyz</pre>
      <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
      <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
      <pre *ngSwitchCase="'dependency'">ng add _____</pre>
      <pre *ngSwitchCase="'test'">ng test</pre>
      <pre *ngSwitchCase="'build'">ng build</pre>
  </div> -->
</div>

