<!-- Toolbar -->
<header class="toolbar" role="banner">
  <h2 class="logo">Nicholas Coorevits</h2>
  <nav>
    <ul class="nav_links">
      <li><a routerLink="/introduction">Introduction</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/project" class="active">Projects</a></li>
    </ul>
  </nav>
</header>

<!-- main -->
<div class="content" role="main">

  <h2>Projects</h2>
    <p >Op deze pagina staan een aantal projecten die ik zelf of in groep gemaakt heb.</p>
    <p> Klik op een knop voor meer informatie te krijgen</p>

  <div class="btn-group">
    <button (click)="ToggleTag1()" [ngClass]="{'btn_proj' : ShowProj1}" class="btn-outline-dark bg-white rounded">Requirements Analysis</button>
    <button (click)="ToggleTag2()" [ngClass]="{'btn_proj' : ShowProj2}" class="btn-outline-dark bg-white rounded">C# WPF</button>
    <button class="btn-outline-dark bg-white rounded">???</button>
  </div>

  <div *ngIf="ShowProj1" class="content">
    <h2>Requirements Analysis</h2>

    <p>Deze opdracht is op school gemaakt voor het vak van requirements analysis gegeven door Christine Smeets</p>
    <br>

    <img src="assets/RA.JPG" alt="c# WPF">
    <h3>Context</h3>
    <p><span>Voor de projectweek van Requirements Analysis heeft mijn groep de opdracht gekregen
    om een applicatie te ontwerpen voor mensen met Alzheimer of een dissociatieve stoornis.
    Voor mensen met deze aandoening is het moeilijk om een overzicht te hebben van hun dag- en weekplanning.
    Meestal hebben ze al een persoonlijke agenda, maar deze wordt vaak nog op papier ingevuld.
    Soms loopt het wel eens fout omdat ze sommige dingen vergeten en afspraken met elkaar kunnen overlappen.</span>
    </p>
    <h3>Mijn Bijdrage</h3>
    <p><span>We hebben in het begin vooral samen gewerkt voor de bestaande projecten te bekijken en hier uit te halen wat er goed uitzag.
  Na dit zijn we begonnen voor ons eigen project te maken. Ik heb in het begin aan het use case diagram gewerkt. Hierna
  ben ik vooral bezig geweest met het document van het project.</span>
    </p>
    <h3>Bijgeleerd</h3>
    <p><span>Tijdens dit project heb ik geleerd hoe je het beste begint aan het analyseren van een project.</span>
    </p>
  </div>

  <div *ngIf="ShowProj2" class="content">
    <h2>C# WPF</h2>
    <p>Deze opdracht is op school gemaakt voor het vak van DevOps gegeven door Quinten Desmyter</p>
    <img src="assets/csAPI.JPG" alt="c# WPF">
    <p><span>Voor deze opdracht heb ik een windows forms gemaakt die zeker met dapper en een micro ORM moest werken.
    Mijn applicatie gaat de top 10 meest beluisterde liedjes van apple music in België afhalen. deze worden één voor één getoond,
    hier kan je dan zien van wie het nummer is, de naam van het lied en de album cover. Deze windows form heef 4 knoppen:
    "Previous" voor naar het vorige nummer te gaan. "Next" voor naar het volgende nummer te gaan.
    "Save" voor het nummer op te slaan. De opgeslagen nummers komen bij de "Saved Songs" knop in een lijst te staan op een volgende windows forms.</span>
    </p>
    <h3>Bijgeleerd</h3>
    <p><span>Door dit project ben ik voor de eerste keer met C# gewerkt. In dit project heb ik ook geleerd hoe
  een micro ORM en een WPF werkt </span>
    </p>
  </div>
</div>
