<div class="content" role="main">
  <h2>Projecten</h2>
  <p>
    Op deze pagina staan een aantal projecten die ik zelf of in groep gemaakt
    heb.
  </p>
  <p>Klik op een knop om meer informatie te krijgen</p>

  <div id="proj">
    <button
      (click)="ToggleTag1()"
      [ngClass]="{ btn_proj: ShowProj1 }"
      class="btn-outline-dark bg-white"
    >
      Requirements Analysis
    </button>
    <button
      (click)="ToggleTag2()"
      [ngClass]="{ btn_proj: ShowProj2 }"
      class="btn-outline-dark bg-white"
    >
      C# WPF
    </button>
    <button
      (click)="ToggleTag3()"
      [ngClass]="{ btn_proj: ShowProj3 }"
      class="btn-outline-dark bg-white"
    >
      Project PHP
    </button>
    <button
      (click)="ToggleTag4()"
      [ngClass]="{ btn_proj: ShowProj4 }"
      class="btn-outline-dark bg-white"
    >
      Cordova App
    </button>
    <button
      (click)="ToggleTag5()"
      [ngClass]="{ btn_proj: ShowProj5 }"
      class="btn-outline-dark bg-white"
    >
      Project 4.0
    </button>
  </div>

  <div *ngIf="ShowProj1" class="content">
    <h2>Requirements Analysis</h2>

    <p>
      Deze opdracht is op school gemaakt voor het vak van requirements analysis
      gegeven door Christine Smeets
    </p>
    <br />

    <img src="assets/RA.JPG" alt="c# WPF" />
    <h3>Context</h3>
    <p>
      <span
        >Voor de Requirements Analysis projectweek kreeg mijn groep de opdracht
        om een applicatie te ontwerpen voor mensen met de ziekte van Alzheimer
        of een dissociatieve stoornis. Voor mensen met deze stoornis is het
        moeilijk om een overzicht te hebben van hun dag- en weekplanning.
        Meestal hebben ze al wel een persoonlijke agenda, maar die is vaak nog
        op papier ingevuld. Soms gaat het mis omdat ze sommige dingen vergeten
        en afspraken kunnen elkaar overlappen. Voor deze mensen is het de
        bedoeling dat we een digitale agenda kunnen maken. Op deze webapplicatie
        kunnen ze dan ook verbinden met hun mantelzorg en hun dokter. De website
        zal ook via hun mail adres hun verwittigen van afspraken en dagelijkse
        activiteiten die in hun agenda staan ingepland.
      </span>
    </p>
    <h3>Mijn Bijdrage</h3>
    <p>
      <span
        >In het begin werkten we vooral samen om naar de bestaande projecten te
        kijken, deze te analyseren en de nodige informatie uithalen voor met ons
        eigen project verder te geraken. Hierna zijn we begonnen met het maken
        van ons eigen project. Ik heb in het begin vooral gewerkt aan het use
        case diagram samen met andere voor de volledige scope van het project te
        zien. Hierna hebben we samen gezeten voor een ERD diagram te maken zodat
        we weten hoe onze database eruit zal zien. Daarna werkte ik vooral aan
        het projectdocument waar ik dan het use case diagram en het ERD diagram
        in heb beschreven.</span
      >
    </p>
    <h3>Bijgeleerd</h3>
    <p>
      <span
        >Tijdens dit project heb ik geleerd hoe je het beste kunt beginnen met
        het analyseren van een project. Hoe het werken in teamverband er aan toe
        gaat, het belang van planning, voorbereiding en analyse. Ook door de
        documenten te analyseren is mij opgevallen wat een goede documentatie
        betekent.</span
      >
    </p>
  </div>

  <div *ngIf="ShowProj2" class="content">
    <h2>C# WPF</h2>
    <p>
      Deze opdracht is op school gemaakt voor het vak van DevOps gegeven door
      Quinten Desmyter
    </p>
    <img src="assets/csAPI.JPG" alt="c# WPF" />
    <h3>Context</h3>
    <p>
      <span
        >We hadden de keuze uit 3 projecten die wij dan in c# moesten maken. De
        eerste was voor een webscraper te maken, de tweede was voor een WPF
        applicatie te maken die gebruik maakten van een micro ORM en de derde
        was voor een webapplicatie te maken die gebruik maakten van Blazor met
        een LDAP login. Ik heb hier gekozen om een WPF applicatie te maken met
        de micro-ORM dapper. Omdat ik een backend gerelateerd project wou
        opstellen dat via een API data kon ophalen en via een databank data kon
        opslaan. Mijn applicatie haalt de top 10 meest beluisterde liedjes van
        Apple music in België op. deze worden één voor één getoond, hier kan je
        zien van wie het lied is, de naam van het lied en de albumcover. Dit
        windows formulier heeft 4 knoppen: "Vorige" om naar het vorige lied te
        gaan. "Volgende" om naar het volgende lied te gaan. "Opslaan" om het
        muzieknummer op te slaan. De opgeslagen muzieknummers worden getoond
        onder de knop "Opgeslagen muzieknummers" op een volgend schermformulier.
      </span>
    </p>
    <h3>Bijgeleerd</h3>
    <p>
      <span
        >Dit project heeft mij de basis van C# bijgebracht. Daarnaast heb ik
        veel geleerd over de werking van een micro ORM en een WPF.
      </span>
    </p>
  </div>

  <div *ngIf="ShowProj3" class="content">
    <h2>Project PHP</h2>
    <p>
      Deze opdracht is op school gemaakt voor het vak van PHP gegeven door
      Patrick Verhaert, Jordi de Roeck en Michael Cloot
    </p>
    <img src="assets/agenda.JPG" alt="Agenda" />
    <h3>Context</h3>
    <p>
      <span
        >Dit project gaat verder op de opdracht van Requirements Analysis. Ik zal de opdracht in het
        kort nog eens uitleggen. In deze opdracht is het de bedoeling dat wij
        een applicatie maken voor mensen met alzheimers en/of een dissociatieve
        stoornis in PHP. Op deze applicatie kunnen ze een agenda opvullen met
        activiteiten en afspraken die ze doorheen hun dag hebben in plaats van
        deze op papier te zetten zodat ze zich niet vergissen of een afspraak
        dubbel inplannen. Ze kunnen hier ook verbinden met hun dokter of
        mantelzorg zodat zei ook via de applicatie de agenda van de patiënt
        kunnen bekijken. Deze webapplicatie draait vooral rond de patiënt.
      </span>
    </p>

    <h3>Mijn Bijdrage</h3>
    <p>
      <span
        >In dit groepswerk heb ik mij bezig gehouden met het begin te maken voor
        een agenda waar ze hun dagelijkse routines, taken en afspraken in kunnen
        plannen en de geassocieerde tabellen in de databank te plaatsen.
        Hiernaast heb ik ook samen gezeten met iemand anders van mijn groep voor
        de styling van het project in orde te brengen. Ik ben ook degene die via
        Combell de website heeft gehost.</span
      >
    </p>

    <h3>Bijgeleerd</h3>
    <p>
      <span
        >Uit dit project heb ik meer ervaring om met een planningsbord te werken
        om zo te vermijden dat meerdere mensen aan hetzelfde bezig zijn. Als ook
        heb ik hier uit geleerd om samen aan 1 project te werken met een
        groep.</span
      >
    </p>
  </div>

  <div *ngIf="ShowProj4" class="content">
    <h2>Cordova</h2>
    <p>
      Deze opdracht is op school gemaakt voor het vak Cordova gegeven door
      Patrick Verhaert
    </p>
    <div class="row">
      <img
        class="col-4"
        src="assets/screenshot-1637437241533.png"
        alt="artikelen opgehaald via API"
      />
      <img
        class="col-4"
        src="assets/screenshot-1637437313838.png"
        alt="artikelen opgehaald via API"
      />
      <img
        class="col-4"
        src="assets/screenshot-1637437280326.png"
        alt="artikelen opgehaald via API"
      />
    </div>
    <h3>Context</h3>
    <p>
      <span
        >De opdracht van Cordova was een applicatie maken die wij via een gsm
        konden tonen met een framework voor mobiele applicaties: Cordova. Ik heb
        hier gekozen om een applicatie te maken die een aantal nieuwsartikelen
        ophaalt via een externe API. Deze artikelen kan je filteren op genre en
        op specifieke woorden die in de titel voorkomen. De opdracht moest ook
        voldoen aan een aantal eisen en de belangrijkste hiervan was voor een
        plugin in de applicatie bij te plaatsen. De plugin die ik gekozen heb
        kan connecteren met social media en zo kon ik iets posten of via mail
        versturen vanuit mijn applicatie.</span
      >
    </p>

    <h3>Bijgeleerd</h3>
    <p>
      <span
        >Bij dit project heb ik voor het eerst kennis gemaakt met het framework
        Materialize.
        </span
      >
    </p>
  </div>

  <div *ngIf="ShowProj5" class="content">
    <h2>Project 4.0</h2>
    <p>
      Deze opdracht is op school & bij Elision gemaakt voor het vak Project 4.0
      begeleid door Bram Heyns
    </p>
    <img src="assets/project4.png" alt="webshop" />

    <h3>Context</h3>
    <p>
      <span>
        Voor het bedrijf Elision hebben we een statische headless e-commerce
        website gemaakt voor kleine tot middelgrote bedrijven. Deze kan worden
        gebruikt om de standaard e-commerce functionaliteit te vervangen en om
        aan de behoeften van het bedrijf te voldoen. Dit werd mogelijk gemaakt
        met behulp van het react framework Next.js in combinatie met een Java
        backend en Microservices. Dit zorgt ervoor dat bedrijven kunnen inspelen
        op de steeds veranderende dynamische markt van vandaag. Hier moesten we
        ook microservices gebruiken, onder andere Adyen om het betalingssysteem
        te laten werken. Ook hebben we gebruik gemaakt van Contentful voor het
        uploaden van onze content die we vervolgens konden ophalen en weergeven
        op onze front-end. Tot slot hebben we ook een Algolia implementatie
        gebruikt voor het tonen van resultaten in de zoekbalk.
      </span>
    </p>

    <h3>Mijn Bijdrage</h3>
    <p>
      <span
        >Voordat het project begon, onderzochten we de verschillende
        technologieën van Elision die we moesten gebruiken. Hier maakten mijn
        collega en ik van applicatieontwikkeling een use case en een
        databasemodel. We maakten ook Figma prototypes als wireframes. In dit
        groepswerk hield ik me bezig met de web applicatie. Ik heb voornamelijk
        gewerkt met Next.js en Contentful. Ik heb de styling gemaakt en de
        applicatie volledig verbonden met Contentful. Ik heb de verschillende
        pagina's zoals home, categorie, detail, login, winkelwagen, FAQ, header
        en footer gemaakt.
      </span>
    </p>

    <h3>Bijgeleerd</h3>
    <p>
      <span
        >In dit project heb ik voornamelijk gewerkt met het Next.js framework en
        heb ik het content management system Contentful voor het eerst gebruikt.
        Verder werkten we ook met Bitbucket en Jira in plaats van Github en
        Trello. Van dit project heb ik geleerd om samen te werken met mensen die
        gespecialiseerd zijn in het opzetten van infrastructuur en AI. We
        volgden ook de werkwijze van het bedrijf mee en hielden dagelijks een
        scrum meeting. Aan het einde van onze wekelijkse sprint hielden we een
        retrospectieve meeting.</span
      >
    </p>
  </div>
</div>
