@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  font-family: inherit;}

#about_image {
  padding: 0;
  margin-right: 5px;
  max-width: 49%;
  object-fit: contain;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

#iframe {
  margin-top: 20px;
  width: 600px;
  height: 315px;
}

#skill_list {
  list-style: none;
}

#skill_list li::before {
  content: "\2605";
  color: #96b2e0;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1em;
}

#skill_list li p::before {
  margin-bottom: 5px;
}

#intro_image {
  padding:0;
  margin-bottom: 15px;
  width: auto;
  height: 100%;
  object-fit: contain;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

@media screen and (max-width: 724px) {
  #about_image {
    margin: 0;
    justify-content: center;
    max-width: 100%;
  }

  #about_list {
    display: none;
  }

  #iframe {
    width: 400px;
    height:225px;
  }
  #intro_image {
    margin: 0;
    justify-content: center;
    max-width: 100%;
  }

  .logo {
    font-size: 18px;
  }

  div #proj {
    flex-direction: column;
  }

  img {
    max-width: 400px;
  }
}


body {
  min-height: 100%;
}

.txt {
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'bebas-neue';
  margin: 40px 0 15px 0;
}

.btn_proj {
  border-color: #96b2e0 !important;
  color: #96b2e0 !important;
}

/*buttons*/
#proj {
  display: flex;
  flex-wrap: wrap;
}

button {
  align-items: center;
  appearance: none;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  overflow: hidden;
  text-align: left;
  transition: box-shadow .15s,transform .15s;
  font-size: 18px;
  width: 200px;
  margin-bottom: 5px;
  margin-right: 5px;
  flex: 0 0 49%;
}

button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
  border-color: #96b2e0 !important;
  color: #96b2e0 !important;
}

button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
  
}

/* END buttons*/
p {
  text-align: justify;
}

img {
  max-height: 400px;
}

.spacer {
  flex: 1;
}

a:hover {
  color: #96b2e0;
  transition: all 0.3s ease 0s;
}

#about_list li, #about_list a {
  color: #4a4a4a;
  list-style: none;
}

#about_list a:hover {
  color: #96b2e0;
}

/*NAV*/
.nav_links {
  list-style: none;
  margin-top: 12px;
}

.nav_links li, a {
  color: #ecf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.logo {
  display: flex;
  place-content: center;
  margin: 0 0 0 20px;
  margin-right: auto;
  height: auto;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  font-style: italic;
  animation: colors 4s ease-in-out infinite;
}

@keyframes colors {
  0% {
    color: #96b2e0;
  }
  20% {
    color: #65c9f3;
  }
  40% {
    color: #2bdfeb;
  }
  60% {
    color: #55efc8;
  }
  80% {
    color: #f9f871;
  }
  100% {
    color: white;
  }
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
  margin-left: 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;

}

.nav_links li a:hover {
  color: #96b2e0;
}

.blue {
  color: #1976d2;
  text-decoration: none;
}

.active {
  color: #55efc8;
}

.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #24292e;
  color: white;
  font-weight: 600;
}

/*END NAV*/

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* .layout::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("assets/bg-ng.png");
  background-repeat: repeat;
  background-size: 250px 200px;
  content: "";
  opacity: 0.75;
  z-index: -1;
} */

.layout::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("assets/bg-ng.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  content: "";
  opacity: 0.75;
  z-index: -1;
}

.layout-header {
  width: inherit;
  height: auto;
}

.layout-container {
  flex: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.layout-content {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 30px 30px;
  background-color: #fff;
  color: #4a4a4a;
}

.layout-main {
  flex: 1 1 100%;
}

.layout-footer {
  margin: auto 0 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s ease-out;
  color: #96b2e0;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  color: #96b2e0;
  align-items: center;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27, 31, 35, .2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
  border-color: rgba(27, 31, 35, .35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}


/* Responsive Styles */

.card:not(.highlight-card) {
  height: 16px;
  margin: 8px 0;
}

.card.highlight-card span {
  margin-left: 72px;
}