<!-- main -->
<div class="content bgc" role="main">
  <h1>Remmicom</h1>

  <h2>Wie is Remmicom</h2>

  <p>
    <span
      >Remmicom is een Belgisch bedrijf opgericht in 1988. Ze zijn gevestigd in
      het bedrijvenpark van Westmeerbeek, La Corbeille. Ze zijn de specialist in
      software en hardware oplossingen voor lokale overheden, zowel voor
      gemeente als OCMW. Ze leveren verschillende diensten zoals:
      <ul>
        <li>IT-oplossingen gebaseerd op de nieuwste technologieën</li>
        <li>Ondersteuning van de hardware en infrastructuur bij klanten</li>
        <li>
          Optimale dienstverlening, met gepersonaliseerde aanpak, gekoppeld aan
          kwaliteitsproducten
        </li>
        <li>Oplossingen op maat</li>
      </ul>
      Remmicom is actief in meer dan 100 administraties over het hele Vlaamse
      landsgedeelte. Zoals u misschien al wel weet zijn certificaten
      onmiskenbaar voor overheden. Remmicom is verantwoordelijk voor het beheren
      van certificaten van talloze organisaties. Concreet zullen wij dus aan de
      slag gaan met het verbeteren van het huidige proces omtrent het beheren
      van certificaten.
    </span>
  </p>

  <h2>Samenvatting</h2>
  <p>
    <span
      >Remmicom was op zoek naar een interne applicatie waarmee ze een overzicht
      krijgen van de verschillende certificaten die ze doorsturen naar de
      overheden. Ook wouden ze een applicatie die op een bepaald tijdstip elk
      uur van een FTP-server de certificaten ophaalt die bij de overheid horen
      waar de applicatie is geïnstalleerd. De werking van het certificaat beheer
      had geen duidelijk overzicht en alles werd nog in een Excel-bestand
      gestoken. Deze applicatie is gebouwd met Remmicom pakketten en ontworpen
      in Angular. De applicatie is ontworpen in Angular en .NET met behulp van
      hun code base integraties en hier werkte ik als full-stack developer samen
      met een andere stagair.
    </span>
  </p>

  <span class="d-flex">
    <iframe
      id="iframe"
      src="https://www.youtube.com/embed/wvrJ-bZn7QU"
      frameborder="0"
      gesture="media"
      allow="encrypted-media"
      allowfullscreen
    ></iframe>
  </span>

  <h2>Extra documenten</h2>
  <p>
    <span
      >Hieronder een aantal documenten die gemaakt geweest zijn tijdens de stage
      samen met mijn medestudent</span
    >
  </p>
  <p>
    <a
      class="blue"
      href="/assets/pva.pdf"
      download
      rel="noopener noreferrer"
      target="_blank"
    >
      Plan van aanpak
    </a>
  </p>

  <p>
    <a
      class="blue"
      href="/assets/Onderzoek_1.pdf"
      download
      rel="noopener noreferrer"
      target="_blank"
    >
      Onderzoeks document
    </a>
  </p>

  <p>
    <a
      class="blue"
      href="/assets/Gebruikershandleiding_intern.pdf"
      download
      rel="noopener noreferrer"
      target="_blank"
    >
      Handleiding applicatie
    </a>
  </p>

  <p>
    <a
      class="blue"
      href="/assets/reflectie-NC-Remmicom.pdf"
      download
      rel="noopener noreferrer"
      target="_blank"
    >
      Reflectie document
    </a>
  </p>
</div>
