<!-- main -->
<div class="content bgc" role="main">
  <h1>Stage Remmicom</h1>

  <h2>Wie is Remmicom</h2>

  <p>
    <span
      >Remmicom is een Belgisch bedrijf opgericht in 1988. Ze zijn gevestigd in
      het bedrijvenpark van Westmeerbeek, La Corbeille. Ze zijn de specialist in
      software en hardware oplossingen voor lokale overheden, zowel voor
      gemeente als OCMW. Ze leveren verschillende diensten zoals:
      <ul>
        <li>IT-oplossingen gebaseerd op de nieuwste technologieën</li>
        <li>Ondersteuning van de hardware en infrastructuur bij klanten</li>
        <li>
          Optimale dienstverlening, met gepersonaliseerde aanpak, gekoppeld aan
          kwaliteitsproducten
        </li>
        <li>Oplossingen op maat</li>
      </ul>
      Remmicom is actief in meer dan 100 administraties over het hele Vlaamse
      landsgedeelte. Zoals u misschien al wel weet zijn certificaten
      onmiskenbaar voor overheden. Remmicom is verantwoordelijk voor het beheren
      van certificaten van talloze organisaties. Concreet zullen wij dus aan de
      slag gaan met het verbeteren van het huidige proces omtrent het beheren
      van certificaten.
    </span>
  </p>

  <h2>Opdracht</h2>
  <p>
    <span
      >De stage opdracht was een applicatie ontwerpen die het huidige systeem
      voor het werken met certificaten kan vervangen. Het huidige systeem vergt
      namelijk veel handmatig werk en heeft geen gebruiksvriendelijke
      gebruikersinterface. We hebben natuurlijk vooral onderzoek gedaan naar de
      werking van het huidige systeem om zo een beter beeld te kunnen krijgen
      van wat er van ons verwacht wordt.
    </span>
  </p>

  <h2>Onderzoeks fase</h2>
  <p>
    <span
      >In het begin van de stage gaven ze een een periode van 2 weken die
      gebruikt konden worden voor het uitvoeren van onderzoek.
    </span>
  </p>
  <h2>Realisaties</h2>
  <p><span></span></p>
    <img src="assets/stage1.png" alt="Overzicht" />
    <img src="assets/stage2.png" alt="Details" />
    <img src="assets/databank.png" alt="Databank" />

  <h2>Bijgeleerd</h2>
  <p>
    <span>Tijdens de stage heb ik veel bijgeleerd over het bedrijfsleven, samenwerking, structuur.</span>
  </p>

  <h2>Extra documenten</h2>
  <p>
    <span
      >Hieronder een aantal documenten die gemaakt geweest zijn tijdens de stage
      samen met mijn medestudent</span
    >
  </p>
  <p>
    <a
      class="blue"
      href="/assets/Onderzoek_1.pdf"
      download
      rel="noopener noreferrer"
      target="_blank"
    >
      Onderzoeks document
    </a>
  </p>

  <p>
    <a
      class="blue"
      href="/assets/Gebruikershandleiding_intern.pdf"
      download
      rel="noopener noreferrer"
      target="_blank"
    >
      Handleiding applicatie
    </a>
  </p>

  <p>
    <a
      class="blue"
      href="/assets/reflectie-NC-Remmicom.pdf"
      download
      rel="noopener noreferrer"
      target="_blank"
    >
      Reflectie document
    </a>
  </p>
</div>
